/* General */

body {
    font-family: Arial, sans-serif;
    background-color: rgb(43, 39, 56);
}

#imagenValidarse {
    height: 40px;
    width: auto;
    border-radius: 6px;
    overflow: hidden;
}

#parteInferiorValidar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulariRegistrarse {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}

.inputFormulario {
    width: 70%;
    height: 50px;
    border-radius: 9px;
    background-color: rgb(81, 74, 106);
    border: none;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

#botonEnviar {
    background-color: rgb(120, 37, 197);
    height: 50px;
    border-radius: 9px;
    border: none;
    width: 70%;
    margin-bottom: 25px;
}

#colocarExclamacion {
    transform: translateX(15%);
}

#tituloFormulario {
    margin-bottom: 30px;
}

a {
    color: rgb(120, 37, 197);
}

#errorRegistro {
    position: relative;
    bottom: 5px;
    visibility: hidden;
}

#volverInicio {
    background-color: rgb(120, 37, 197);
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

input::placeholder {
    color: #888;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}